@font-face {
  font-family: darkerGrotesque-bold;
  src: url("../font/DarkerGrotesque-Bold.ttf");
}

@font-face {
  font-family: darkerGrotesque-medium;
  src: url("../font/DarkerGrotesque-Medium.ttf");
}

@font-face {
  font-family: darkerGrotesque-regular;
  src: url("../font/DarkerGrotesque-Regular.ttf");
}

@font-face {
  font-family: darkerGrotesque-semiBold;
  src: url("../font/DarkerGrotesque-SemiBold.ttf");
}

@font-face {
  font-family: darkerGrotesque-black;
  src: url("../font/DarkerGrotesque-Black.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 2px solid red; 
}

body {
  background-color: #ffffff;
}

.hv {
  height: 100vh;
}
.logo {
  height: 45px;
  width: 125px;
  margin-right: auto;
}

// @media screen and (max-width: 425px) {
//   .logo {
//     display: none;
//   }
// }

.auth-one-background {
  background-image: url("/src/assets/image/onboarding.svg");
  background-attachment: fixed;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  max-height: 100%;
}

.auth-two-background {
  padding: 20px;
  // background-image: url("/src/assets/image/onboarding_1.svg");
  // background-attachment: fixed;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  min-height: 100vh;
  //  height: 100vh;
  max-height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login_linear_gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.83) 0%,
    rgba(0, 0, 0, 0.76) 100%
  );
}

.base-page-background {
  width: 100%;
  height: 100%;
  margin: 0;
}
.base-page-header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.base-page-space {
  padding-left: 100px;
  padding-right: 100px;
}

.left_arr {
  position: absolute;
  left: 20px;
  top: 10rem;
  z-index: 1000;
  cursor: pointer;
}

.right_arr {
  position: absolute;
  right: 50px;
  top: 10rem;
  z-index: 1000;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .left_arr {
    left: 2px;
    top: 4rem;
  }

  .right_arr {
    right: 1px;
    top: 4rem;
  }
}


@media only screen and (max-width: 700px) {
  .login_linear_gradient {
    background: none;
  }
}

@media only screen and (max-width: 565px) {
  .display_property_grid_mobile {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


@media only screen and (max-width: 375px) {
  .display_property_grid_mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
