@font-face {
  font-family: darkerGrotesque-Bold;
  src: url("../font/DarkerGrotesque-Bold.ttf");
}

.hv{
  height: 100vh;
}
.logo{
  height: 45px;
  width: 125px;
}
.auth-one-background{
  background-image: url("/src/assets/image/onboarding.svg");
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.auth-two-background{
  background-image: url("/src/assets/image/onboarding_1.svg");
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.base-page-background{
  width: 100%;
  height: 100%;
  margin: 0;
}
.base-page-header{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.base-page-space{
  padding-left: 100px;
  padding-right: 100px;
}