$primary: #18ACE8;
$black: #111110;
$white: #FAFAFA;
$gray1: #606060;
$gray2: #7A7A7A;
$gray3: #F5F5F5;
$gray4: #C0C0C0;
$gray5: #F2F2F2;

.button-container{
  height: 60px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button{
  width: 100%;
  height: 100%;
  font-weight: 700;
  line-height: 25px;
  font-family: darkerGrotesque-bold, sans-serif;
  font-size: 28px;
}

.active-nav{
  font-family: darkerGrotesque-bold, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: $primary;
}

.inactive-nav{
  font-size: 20px;
  line-height: 20px;
  font-family: darkerGrotesque-bold, sans-serif;
  color: $black;
}